@mixin border-radius($radius) {
    -border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
}
@mixin buttons-shadow() {
    -webkit-box-shadow: 0px 7px 14px -10px rgba(135,135,135,1);
-moz-box-shadow: 0px 7px 14px -10px rgba(135,135,135,1);
box-shadow: 0px 7px 14px -10px rgba(135,135,135,1);
}
@mixin input-shadow() {
    -webkit-box-shadow: 1px 10px 20px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 10px 20px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 10px 20px -1px rgba(0, 0, 0, 0.75);
}
$border-curved: 1px solid #d3d3d3;
@mixin button-style() {
    width: 50px;
    padding: 11px;
    margin: 2px;
    background-color: #f5f5f5;
    border: 1px outset #dedede;
    color: rgb(95, 95, 94);
    @include border-radius(4px);
    @include buttons-shadow();
    &:hover {
        cursor: pointer;
    }
    &:active {
        background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(234, 234, 234, 1) 30%, rgba(192, 192, 192, 1) 93%);
    }
    outline:0;
    font-weight: bold;
}

html {
    width: 100%;
    height: 100%;
    body {
        width: 100%;
        height: 100%;
        background-color: rgb(211, 247, 238);
        .container {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            .squareContainer {
                @include border-radius(10px);
                @include input-shadow();
                background-color: rgb(236, 231, 231);
                margin-top: 30px;
                padding: 10px;
                width: 250px;
                height: 310px;
                border: 1px solid #f0f0f0;
                #displayBox {
                    height: 40px;
                    width: 100%;
                    margin: 10px 0;
                    
                    padding-left: 10px;
                    -webkit-box-shadow: inset 1px 5px 22px 1px rgba(48, 48, 48, 0.14);
                    box-shadow: inset 1px 5px 22px 1px rgba(48, 48, 48, 0.14);
                    @include border-radius(5px);
                    border: $border-curved;
                }
                #numbersContainer {
                    display: inline-block;
                    width: 170px; // background-color: blue;
                    height: 235px;
                    padding: 0px;
                    margin: 15px 0;
                    .small {
                        button {
                            background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 35%, rgba(230, 230, 230, 1) 85%);
                            @include button-style();
                            &#clearBtn {
                                background: peru;
                                background-color: peru;
                                color: white;
                                &:active {
                                    background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 1) 0%, rgba(255, 141, 48, 1) 100%);
                                }
                            }
                            &#zeroBtn {
                                width: 107px;
                            }
                        }
                    }
                }
                #symbolsContainer {
                    display: inline-block;
                    width: 50px;
                    height: 235px;
                    float: right;
                    padding: 0px; // background-color: rgb(247, 181, 0);
                    margin: 15px 0;
                    .small {
                        float: right;
                        height: 200px;
                        padding: 0px;
                        display: inline-block; // background-color: red;
                        button {
                            background-color: #3f3f3f;
                            color: burlywood;
                            @include button-style();
                            margin-left: 0px;
                            &#calculateBtn {
                                background-color: rgb(189, 189, 189);
                                height: 81px;
                                text-align:floor;
                            }
                        }
                    }
                }
            }
        }
    }
}